p {
    font-size: x-large;
}

h1 {
    text-align: left;
}

h2 {
    color: rgb(0, 0, 0);
}

h3 {
    color: white;
}

body {
    background-color: rgb(218, 6, 6);
}

.Flamengo{
    color: rgb(8, 8, 8), 255);
    text-shadow: 2ex;
}

.imagem-CRF{
    text-align: center;
    size: max-width 400px; max-height: 250px
}

.flex-item {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.flex-item {
    background: rgb(255, 255, 255);
    height: 50px;
    width: 25px;
    line-height: 50px;
    font-size: x-large;
    color:  yellow;
    text-align: center;
    margin: 5px;

}

.Lista-de-titulos {
    font-size: px;
}

.Lista-titulos {
    color: rgb(255, 255, 255);
}

.Elenco {
    size: max-width 400px; max-height: 250px
}

.Emblema {
    size: max-widht 3000px; max-height: 200px;
}

.História {
    color: white;
}

.Elenco81 {
    text-align: left;
    color: white;
}

.imgElenco81 {
    size: max-widht 3000px; max-height: 400px;
    
}

.Elenco2019 {
    size: max-widht 3000px; max-height: 400px;
    text-align: left;
    color: white;
}
