p {
    font-size: x-large;
}

h1 {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
}

.Flamengo{
    color: rgb(255, 0, 0);
    text-shadow: 2ex;
}

.imagem-CRF{
    text-align: center;
    size: max-width 400px; max-height: 250px
}

.flex-item {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.flex-item {
    background: red;
    height: 50px;
    width: 25px;
    line-height: 50px;
    font-size: x-large;
    color:  yellow;
    text-align: center;
    margin: 5px;

}

.Lista-de-titulos {
    font-size: px;
}

.Lista-titulos {
    color: red;
}